# binary mirrors
sass_binary_site=https://npmmirror.com/mirrors/node-sass
disturl=https://registry.npmmirror.com/dist
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
fsevents_binary_host_mirror=http://npmmirror.com/mirrors/fsevents/
puppeteer_download_host=https://npmmirror.com/mirrors
sass_binary_site=https://npmmirror.com/mirrors/node-sass # node-sass 二进制包镜像
canvas_binary_host_mirror=https://npmmirror.com/mirrors/node-canvas-prebuilt # node-canvas 二进制包镜像
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli # sentry cli 镜像

# default registry
registry=https://registry.npmmirror.com/

# pnpm options
shamefully-hoist=true
strict-peer-dependencies=false
lockfile-include-tarball-url=true
